@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Mulish', sans-serif;
}
.expand__cards__wrapper {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(27, 1, 32);
  .container {
    display: flex;
    width: 90vw;
    .card {
      margin: 10px;
      height: 80vh;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 50px;
      cursor: pointer;
      flex: 0.5;
      position: relative;
      transition: flex 0.7s ease-in;
      h3 {
        position: absolute;
        bottom: 20px;
        left: 20px;
        font-size: 24px;
        color: #ffffff;
        opacity: 0;
      }
    }
    .active {
      flex: 5;
      h3 {
        opacity: 1;
      }
    }
    .bg_one {
      background-image: url('https://images.pexels.com/photos/6061230/pexels-photo-6061230.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    }
    .bg_two {
      background-image: url('https://images.pexels.com/photos/4577797/pexels-photo-4577797.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    }
    .bg_three {
      background-image: url('https://images.pexels.com/photos/6062504/pexels-photo-6062504.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    }
    .bg_four {
      background-image: url('https://images.pexels.com/photos/5876606/pexels-photo-5876606.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    }
    .bg_five {
      background-image: url('https://images.pexels.com/photos/4577794/pexels-photo-4577794.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
    }
  }
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
    .card:nth-of-type(4),
    .card:nth-of-type(5) {
      display: none;
    }
  }
}
