* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  .background_image {
    background: url('https://images.unsplash.com/photo-1499342711617-14a760620117?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80')
      no-repeat center center/cover;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    position: absolute;
    top: -30px;
    left: -30px;
    filter: blur(0px);
  }
  .loading {
    text-align: center;
    color: #ffffff;
    font-size: 3rem;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
